<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кинопоиск</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        } 
        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px;
        }
        h1 {
            margin: 0;
            font-size: 36px;
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .movie {
            display: flex;
            margin-bottom: 20px;
        }
        .movie img {
            width: 150px;
            height: auto;
            margin-right: 20px;
            border-radius: 5px;
        }
        .movie-info {
            flex-grow: 1;
        }
        h2 {
            margin-top: 0;
        }
        p {
            margin: 0;
        }
    </style>
</head>
<body>
    <header>
        <h1>Поиск фильмов</h1>
    </header>

    <div class="container">
        <form action="#" method="get">
            <label for="movie-search">Введите название фильма:</label>
            <br/>
            <input type="text" id="movie-search" name="name">
            <button type="submit">Поиск</button>
            <br/>
        </form>

        <% @movies.each do |movie|%>
            <p>image</p>
            <br/>
            <h1><%= movie.name %></h1>
            <p>Описание фильма: <%= movie.description %></p>
            <p>Дата релиза: <%= movie.release.to_s %></p>
            <br/>
        <% end %>

        <div class="pagy">
            <%# binding.pry %>
            <%== pagy_nav(@pagy) %>
        </div>
    </div>
</body>
</html>


