<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о фильме</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px;
        }
        h1 {
            margin: 0;
            font-size: 36px;
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .movie {
            display: flex;
            margin-bottom: 20px;
        }
        .movie img {
            width: 150px;
            height: auto;
            margin-right: 20px;
            border-radius: 5px;
        }
        .movie-info {
            flex-grow: 1;
        }
        h2 {
            margin-top: 0;
        }
        p {
            margin: 0;
        }
    </style>
</head>
<body>
    <header>
        <h1>Информация о фильме</h1>
    </header>
        <center>
        <div class="movie">
            <div class="movie-info">
                <h2><%= @movie.name %></h2>
                <p><strong>Дата релиза: </strong><%= @movie.release %></p>
                <p><strong>Описание: </strong> <%= @movie.description %> </p>
                <br/>   
                <img src="https://via.placeholder.com/1200x1000" alt="Обложка Фильма">
            </div>
        </div>
        </center>
</body>
</html>